__pycache__/

venv/
.env

*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# IDE / Editor
.vscode/

# Streamlit
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/
